.container {
  padding: 0 50px;
}

.container-campo {
  margin: 50px 0;

  .campo {
    background-color: var(--cinza-primario);
    border: 0;
    border-radius: 56px;
    color: var(--azul-primario);
    padding: 20px 30px;
    width: 100%;
  }

  .campo::placeholder {
    color: var(--azul-primario);
  }
}
